<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>authen.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDBController</servlet-name>
        <servlet-class>authen.TestDBController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDBController</servlet-name>
        <url-pattern>/testdb</url-pattern>
    </servlet-mapping>
</web-app>
